/*
.card{
    display: block;
    width: 18rem;
    border: 5px;
    background: rgba(120, 214, 243, 0.918);;
    border-color: rgba(120, 214, 243, 0.918);
    border-radius: 10px;
    border-top: 15px;
    border-bottom: 15px;
    border: 50px;
}
.card-img{
    max-width: 18rem;
    display: flex;
    border: 50px;
    border-color: rgba(120, 214, 243, 0.918);
    border-radius: 10px;
}
*/