.navHorizontal{
	padding: 3rem 25rem 3rem 25rem;
	background-color: #FF6B6B;
    padding-left: 5%;
	margin: 0;
	height: 0;
	top: 0;
}
.navHorizontal a{
	padding: 0;
	margin: 0;
	height: 0;
	top: 0;
    width: 50%;
	color: white;
	letter-spacing: 0.1rem;
	font-size: 1.5rem;
}